h1 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 100%;
}
h2 {
    font-size: 85%;
    font-style: italic;
    text-indent: 2%;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 300;
    padding-bottom: 0.5em;
}
p {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 90%;
}
section1 p {
    margin-bottom: 1%;
}
section2 p {
    margin-bottom: 1%;
}
section3 p {
    margin-bottom: 1%;
}
h3 {
    font-size:xx-small;
}
column1 {
    width: 25%;
    float: left;
    text-align: center;
}
column2 {
    width: 50%;
    float: left;
}
column3 {
    width: 25%;
    float: left;
    text-align: center;
}